@import "reseter.css/css/reseter.min.css";

@custom-media --small-viewport (min-width: 520px);
@custom-media --medium-viewport (min-width: 761px);
@custom-media --large-viewport (min-width: 992px);

:root {
  --background-color: #24292e;
  --color-red: #dc2626;
  --color-zinc: #9ca3af;
  --color-white: white;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
}

h3 {
  color: var(--color-zinc);
  margin: 2rem 0 0;
}

.main {
  min-height: inherit;
  margin: 0 auto;
  max-width: 60ch;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 3rem 1rem;
  flex: 1;
}

.footer {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: 16px;
  padding: 1rem 0 1.5rem;
}

@media (--medium-viewport) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-text {
  font-size: 10px;
  font-weight: 300;
}

.heart {
  color: var(--color-red);
}
