@import "reseter.css/css/reseter.min.css";

:root {
  --background-color: #24292e;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: "Poppins", sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60ch;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
