@import "reseter.css/css/reseter.min.css";

@custom-media --small-viewport (min-width: 520px);
@custom-media --medium-viewport (min-width: 761px);
@custom-media --large-viewport (min-width: 992px);

:root {
  --background-color: #24292e;
  --color-red: #dc2626;
  --color-grey: #9ca3af;
  --color-white: white;
  --color-cyan: #06b6d4;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
}

h2 {
  margin: 24px 0;
  font-family: "JetBrains Mono", monospace;
}

h3 {
  font-weight: 500;
  margin: 32px 0 16px;
}

ul {
  margin: 0;
  padding-left: 32px;

  li {
    color: var(--color-grey);
    font-weight: 300;
  }

  * + * {
    margin-top: 8px;
  }
}

p {
  color: var(--color-grey);
  font-weight: 300;
  line-height: 1.5rem;
}

.main {
  min-height: inherit;
  margin: 0 auto;
  max-width: 70ch;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 48px 16px;
  flex: 1;

  a {
    color: var(--color-grey);
  }
}

.caret {
  color: var(--color-cyan);
}

.footer {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: 16px;
  padding: 16px 0 24px;

  @media (--medium-viewport) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .copyright {
    color: var(--color-grey);
    font-size: 0.75rem;
    font-weight: 300;
  }

  .link {
    text-decoration: none;
  }

  .heart {
    color: var(--color-red);
  }
}
